.containerAuth {
    background-color: #fff;
}

.logo {
    font-size: 4rem;
}

.logo-first {
    color: #1d7fce; 
    font-weight: bold;
}


.logo-second {
    color: #323232; 
    font-weight: bold;
}


/* GRID COMPONENT  */

.title-grid-component {
    color: #323232;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 50px;
    flex-direction: column;
    width: 100%;
}

.title-grid-component-icon {
    font-size: 38px;
    margin-bottom: 10px;
}

.title-grid-component-description {
    font-size: 14px;
    margin-top: -13px;
}