/* LEFT SIDE */

.display-flex {
    display: flex;
    justify-content: space-between;
}
.div-title-abas {
    margin: 20px 0;
}
.title-abas {
    font-size: 16px;
    font-weight: 600;
}

.form_add_resources {
    background-color: #f2f2f2;
    padding: 20px;
    margin-bottom: 20px;
}