/* LEFT SIDE */

.display-flex {
    display: flex;
    justify-content: space-between;
}
.div-title-abas {
    margin-bottom: 30px;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    background-color: #d3d3d3;
    transition: all transform 1.5s ease-in-out;

}
.title-abas {
    font-size: 16px;
    font-weight: 600;
}

.form_add_resources {
    background-color: #f2f2f2;
    padding: 20px;
    margin-bottom: 20px;
}

.btn-details-processo-form {
    color: #fff;
    width: 35px;
    height: 35px;
    background-color: #343d45;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}


.btn-details-processo-form:hover {
    background-color: #c0c2c3;
    color:#343d45; 
    border: 2px solid #343d45; 
}

.details-processo-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
}

.showForm {
    display: block !important;
}

.hiddenForm {
    display: none;
}