.this-is-me {
    margin-top: 50px !important;
}

.tabulator-table-menu-container {
    top: 20px !important;
    display: block !important;
    position: relative;
}

.adjusted-tui-calendar-title-grand-parent {
    height: 138px !important;
    display: flex !important;
}

.adjusted-tui-calendar-title {
    width: 409px !important;
    height: 130px !important;
    display: flex !important;
}

/* input[name="title"] {
    display: none !important;
}

div.toastui-calendar-popup-section:nth-child(3) {
    margin-top: 8px !important;
}

div[contenteditable]:empty {
    content: "Descrição value";
    color: grey;
    font-style: italic;
}

*/
div.toastui-calendar-popup-section:nth-child(2) {
    height: 185px;
}

div.toastui-calendar-popup-section:nth-child(2) button {
    display: none;
}

div.toastui-calendar-popup-section:nth-child(2) span {
    margin-top: 10px;
}

div.toastui-calendar-popup-section:nth-child(2) div:first-child {
    height: 176px;
    display: flex;
    width: 445px;
}

textarea[name=title] {
    border: none !important;
    height: 164px;
    font-size: 12px;
    color: black;
    padding: 10px;
    width: 445px;
}


.adjust-toastui-calendar-content {
    height: 124px !important;
    border: none !important;
}

.toastui-calendar-event-calendar {
    width: 124px !important;
}

.toastui-calendar-grid-selection,
.toastui-calendar-grid-selection-label {
    display: none !important;
}

.navbar-toastui-calendar {
    display: contents;
    background: no-repeat;
    text-align: left;
}

.is-rounded {
    border-radius: 26px;
    border: 1px solid;
}

.calendar-btn-today {
    width: 100px;
}

.calendar-btn-prev,
.calendar-btn-next {
    width: 50px !important;
}

.toastui-time-range {
    color: black;
    padding-left: 20px;
    font-size: 1.6rem;
}

.header-toastui-calendar {
    display: contents !important;
    padding-bottom: 20px;
}

.navbar-toastui-calendar {
    display: block;
    background: none;
    border: none;
    box-shadow: none;
}

.toastui-calendar-state-section {
    display: none !important;
}

/** 
END LOADING STYLE
*/

/* TEMPLATE DATA TABLE */

.table-responsive {
    margin-top: -50px !important;
}

/* END TEMPLATE DATA TABLE */