#stllAppGlobalLoadingCurtain {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10000;
    background: rgba(0, 0, 0, 0.8);
    top: 0;
    /*display: none !important;*/
    align-items: center;
    justify-content: center;
}

/**
STARTING LOADING STYLE
*/

.lds-spinner {
    color: #1c4c5b
}

.lds-spinner,
.lds-spinner div,
.lds-spinner div:after {
    box-sizing: border-box;
}

.lds-spinner {
    color: white;
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-spinner div {
    transform-origin: 40px 40px;
    animation: lds-spinner 1.2s linear infinite;
}

.lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3.2px;
    left: 36.8px;
    width: 6.4px;
    height: 17.6px;
    border-radius: 20%;
    background: currentColor;
}

.lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
}

.lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
}

.lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
}

.lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
}

.lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
}

.lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
}

.lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
}

.lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
}

.lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
}

.lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
}

.lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
}

.lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
}

@keyframes lds-spinner {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}


.this-is-me {
    margin-top: 50px !important;
}

.tabulator-table-menu-container {
    top: 20px !important;
    display: block !important;
    position: relative;
}

.adjusted-tui-calendar-title-grand-parent {
    height: 138px !important;
    display: flex !important;
}

.adjusted-tui-calendar-title {
    width: 409px !important;
    height: 130px !important;
    display: flex !important;
}

input[name="title"] {
    display: none !important;
}

.adjust-toastui-calendar-content {
    height: 124px !important;
    border: none !important;
}

.toastui-calendar-event-calendar {
    width: 124px !important;
}

.toastui-calendar-grid-selection,
.toastui-calendar-grid-selection-label {
    display: none !important;
}

.navbar-toastui-calendar {
    display: contents;
    background: no-repeat;
    text-align: left;
}

.is-rounded {
    border-radius: 26px;
    border: 1px solid;
}

.calendar-btn-today {
    width: 100px;
}

.calendar-btn-prev,
.calendar-btn-next {
    width: 50px !important;
}

.toastui-time-range {
    color: black;
    padding-left: 20px;
    font-size: 1.6rem;
}

.header-toastui-calendar {
    display: contents !important;
    padding-bottom: 20px;
}

.navbar-toastui-calendar {
    display: block;
    background: none;
    border: none;
    box-shadow: none;
}

.toastui-calendar-state-section {
    display: none !important;
}

/** 
END LOADING STYLE
*/