.sidebar {
    width: 260px;
    background-color: #fff;
    position: fixed;
    height: 100%;
    overflow: auto;
    padding-top: 10px;
    overflow: hidden;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar li {
    position: relative;
}

.sidebar a {
    display: block;
    color: #545454;
    padding: 7px 15px;
    text-decoration: none;
}

.sidebar a:hover {
    background-color: #ddd;
    color: #545454;
}

.active {
    background-color: #d3d3d3;
}

.active .submenu {
    display: block; /* Exibe o submenu do item ativo */
}

.submenu {
    background-color: #f2f2f2;
    color: #ddd;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.4s ease, opacity 0.6s ease;
    margin-left: 20px;
}

.submenu a {
    color: #545454;
    padding: 7px 40px;
}

.submenu a:hover {
    background-color: #d3d3d3;
}

.sidebar li:hover .submenu {
    max-height: 200px; /* altura máxima para a transição */
    opacity: 1;
}

.active .submenu {
    max-height: 200px; /* altura máxima para a transição */
    opacity: 1;
}

.sidebar i {
    margin-right: 10px;
}
