#stllAppGlobalLoadingCurtain {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 10000;
    background: rgba(0, 0, 0, 0.8);
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

/**
STARTING LOADING STYLE
*/

#stllAppGlobalLoadingCurtain .still-lds-spinner {
    color: #1c4c5b
}

#stllAppGlobalLoadingCurtain .still-lds-spinner,
#stllAppGlobalLoadingCurtain .still-lds-spinner div,
#stllAppGlobalLoadingCurtain .still-lds-spinner div:after {
    box-sizing: border-box;
}

#stllAppGlobalLoadingCurtain .still-lds-spinner {
    color: white;
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

#stllAppGlobalLoadingCurtain .still-lds-spinner div {
    transform-origin: 40px 40px;
    animation: still-lds-spinner 1.2s linear infinite;
}

#stllAppGlobalLoadingCurtain .still-lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3.2px;
    left: 36.8px;
    width: 6.4px;
    height: 17.6px;
    border-radius: 20%;
    background: currentColor;
}

#stllAppGlobalLoadingCurtain .still-lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
}

#stllAppGlobalLoadingCurtain .still-lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
}

#stllAppGlobalLoadingCurtain .still-lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
}

#stllAppGlobalLoadingCurtain .still-lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
}

#stllAppGlobalLoadingCurtain .still-lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
}

#stllAppGlobalLoadingCurtain .still-lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
}

#stllAppGlobalLoadingCurtain .still-lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
}

#stllAppGlobalLoadingCurtain .still-lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
}

#stllAppGlobalLoadingCurtain .still-lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
}

#stllAppGlobalLoadingCurtain .still-lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
}

#stllAppGlobalLoadingCurtain .still-lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
}

#stllAppGlobalLoadingCurtain .still-lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
}

#stllAppGlobalLoadingCurtain .page-loader-wrapper {
    background: none !important;
}

@keyframes still-lds-spinner {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}


/** 
END LOADING STYLE
*/








/*
* TOAST STYLING BELLOG
*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}



.still-toast {
    position: fixed;
    top: 25px;
    right: 30px;
    border-radius: 12px;
    background: #fff;
    padding: 20px 35px 20px 25px;
    box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transform: translateX(calc(100% + 30px));
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
    z-index: 500000000;
}

.still-toast.still-toast-active {
    transform: translateX(0%);
}

.still-toast .still-toast-content {
    display: flex;
    align-items: center;
}

.still-toast-content .check {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    min-width: 35px;
    background-color: #2c5e24;
    color: #fff;
    font-size: 20px;
    border-radius: 50%;
}

.still-toast-content .still-toast-message {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

.still-toast-message .text {
    font-size: 16px;
    font-weight: 400;
    color: #666666;
}

.still-toast-message .text.text-1 {
    font-weight: 600;
    color: #333;
}

.still-toast .close {
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 5px;
    cursor: pointer;
    opacity: 0.7;
}

.still-toast .close:hover {
    opacity: 1;
}

.still-toast .still-toast-progress {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;

}

.still-toast .still-toast-progress:before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: #2c5e24;
}

.still-toast-progress.still-toast-active:before {
    animation: progress 5s linear forwards;
}

@keyframes progress {
    100% {
        right: 100%;
    }
}


/*
* END OF TOAST STYLING BELLOG
*/






/*
* STILL FUNDAMENTALS
*/

.still-hide-view-part {
    display: none !important;
}

.still-validation-failed-style {
    background: #ff000024 !important;
    border: 1px solid #ff000052 !important;
}

.still-validation-warning {
    font-size: 10px;
    color: red;
}


#stillRunTimeErrDiv {
    /* border: 1px solid red; */
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0px 0px;
    background: rgba(0, 0, 0, .9);
    color: white;
    text-shadow: 0 0 black;
    padding-top: 10px;
    padding-left: 10px;
    font-size: 1em;
}

.nonExistingComponentSt,
.nonExistingFieldSt,
.nonExistingTemplate,
.existingTemplate {
    color: red;
    font-weight: bold;
    background-color: white;
    border-radius: 3px;
    padding: 1px 3px;
}

.nonExistingComponentSt {
    font-weight: normal;
    color: black;
}

.nonExistingComponentSt>b {
    color: red;
}

.existingTemplate {
    color: rgb(0, 81, 0);
}

.errorCmdSugestion {
    color: rgb(14, 162, 21);
}

.sttypeErrorMessage {
    text-decoration: underline;
}

.still-worked-home-container {
    background-color: rgb(229, 222, 222);
    height: 100%;
    padding: 28.5% 0% 35% 0%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.still-worked-home-container .still-fw-logo {
    width: 200px;
}

.still-worked-home-container .still-home-orientation-text {
    margin-top: 30px;
}

.still-fw-before-logo {
    padding-bottom: 50px;
    color: cadetblue;
}

/*
* END OF STILL FUNDAMENTALS
*/